---
import TextReveal from '@/components/TextReveal.astro'
---

<section
  data-contact
  class="bg-dark-blue text-steel-blue py-40 lg:py-52 xl:py-20 px-4"
>
  <div class="flex flex-col gap-8 max-w-2xl mx-auto">
    <div class="flex flex-col gap-4">
      <h2 class="text-white text-3xl lg:text-4xl 2xl:text-5xl font-semibold">
        Contáctame!
      </h2>

      <p class="text-lg">Siempre dispuesto a nuevos proyectos.</p>
    </div>

    <ul class="flex gap-8">
      <li>
        <a
          class="hover:text-white transition-colors duration-300" target="_blank"
          href="https://www.linkedin.com/in/hugomontesfdez/"
          title="LinkedIn"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z"
              fill="currentColor"></path>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>

<script>
  import { DOMLoaded } from '../ts/events'
  import { fadeIn } from '../ts/animations'

  DOMLoaded(() => {
    const trigger = document.querySelector('[data-contact]') as HTMLElement
    const target = trigger.querySelector(':scope > div') as HTMLElement

    fadeIn(trigger, target)
  })
</script>
