---
import Card from '@/components/Card.astro'
import projectOne from '@/images/project-1.png'
import projectTwo from '@/images/project-2.png'
import projectThree from '@/images/project-3.png'
import projectFour from '@/images/project-4.png'
---

<section
  data-projects
  class="flex flex-col gap-10 lg:gap-12 py-32 lg:pb-40 2xl:py-48 px-8 overflow-clip"
>
  <h2
    class="w-full max-w-2xl mx-auto text-dark-blue text-3xl lg:text-4xl 2xl:text-5xl text-center font-semibold"
  >
    Mis proyectos!
  </h2>

  <div data-projects-wrapper class="w-full max-w-2xl mx-auto">
    <ul data-projects-list class="flex gap-8 lg:gap-16 w-max">
      <li>
        <Card
          image={projectOne}
          title="Joyería Oliva"
          description="Desarrollo de eCommerce en WordPress, optimizando la experiencia del usuario y gestionando la integración de pagos."
          link="https://www.joyeriaoliva.com/"
        />
      </li>
      <li>
        <Card
          image={projectTwo}
          title="Ciespack"
          description="Desarrollé una página corporativa con un landing page informativa y subpáginas, incorporando un formulario de contacto, utilizando WordPress para optimizar la visibilidad y comunicación de la empresa."
          link="https://ciespack.com/"
        />
      </li>
      <li>
        <Card
          image={projectThree}
          title="Donde Bailo (En proceso)"
          description="Aplicación web utilizando Astro y JavaScript que permite a los usuarios buscar eventos de baile cercanos, implementando funcionalidades de geolocalización"
          link="#"
        />
      </li>
    </ul>
  </div>
</section>

<script>
  import { gsap } from 'gsap'
  import { ScrollTrigger } from 'gsap/ScrollTrigger'
  import { DOMLoaded } from '@/ts/events'

  DOMLoaded(() => {
    gsap.registerPlugin(ScrollTrigger)
    const projects = document.querySelector('[data-projects]') as HTMLElement
    const projectsWrapper = projects.querySelector(
      '[data-projects-wrapper]'
    ) as HTMLElement
    const projectsList = projects.querySelector(
      '[data-projects-list]'
    ) as HTMLElement
    const width = projectsList.clientWidth - projectsWrapper.clientWidth
    const tl = gsap.timeline({
      scrollTrigger: {
        trigger: projects,
        start: 'top top',
        end: 'bottom top',
        scrub: true,
        pin: true,
      },
    })

    tl.fromTo(projectsList, { x: 0 }, { x: -width, duration: 1 })
  })
</script>
